[Unit]
Description=Autonomous Linux configuration service
After=uptrack-prefetch.service
Before=crond.service
Conflicts=yum-cron.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/al-start

[Install]
WantedBy=multi-user.target

